<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalprofile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalProfile">
        <activity android:name=".activities.ReadReviewsActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.ChatListActivity" />
        <activity android:name=".activities.HomePageActivity" />
        <activity android:name=".activities.CreateEventActivity" />
        <activity android:name=".activities.CreateAccountActivity" />
        <activity android:name=".activities.EventChatActivity" />
        <activity android:name=".activities.LikedEventsActivity" />
        <activity android:name=".activities.OrganiserProfileActivity" />
        <activity android:name=".activities.StudentProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>